* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: hsl(270, 20%, 96%);
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.iphone-container {
  width: 20%;
}
.right-text {
  width: 30%;
  z-index: 100;
}
h2 {
  margin-bottom: 30px;
  font-size: 40px;
}
.right-text p {
  color: hsl(270, 7%, 64%);
  line-height: 1.5;
}
.iphone {
  background-color: rgb(237, 237, 237);
  width: 242px;
  height: 470px;
  margin: 100px 280px;
  border-radius: 20px;
  box-shadow: 20px 30px 20px lightgray;
  position: relative;
}
.iphone::before {
  content: "";
  margin: auto;
  left: 50%;
  top: -11px;
  transform: translate(-50%);
  position: absolute;
  width: 242px;
  height: 469px;
  border-radius: 40px;
  border: 12px solid white;
}
.iphone::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 20px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.chat-header {
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  border-radius: 15px;
  padding-top: 30px;
}
.chat-header img {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}
.name {
  font-size: 13px;
  font-weight: bold;
  color: white;
}
.status {
  font-size: 10px;
  color: rgb(202, 201, 201);
}
.left-chat,
.right-chat {
  font-size: 10px;
  margin: 8px 10px;
  line-height: 12px;
  padding: 5px;
  border-radius: 10px;
}
.left-chat {
  background-color: hsl(271, 57%, 90%);
  color: hsl(276, 55%, 52%);
  border-bottom-left-radius: 3px;
  width: 60%;
}

.right-chat {
  background-color: white;
  width: 60%;
  margin-left: 37%;
  border-bottom-right-radius: 3px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 10px;
}
.img-container img {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  object-fit: cover;
  margin: 0 0 0 10px;
}
.left-price {
  display: flex;
  width: 70%;
  margin: 8px 10px;
  border-radius: 10px;
  border-bottom-left-radius: 3px;
  background: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  padding: 10px;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.left-price div:first-child {
  display: flex;
  align-items: center;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 5px;
}
.title-price {
  font-size: 9px;
}
.price {
  font-size: 13px;
  font-weight: bold;
}
.input {
  text-align: center;
  margin-top: 15px;
  position: relative;
}
input {
  border-radius: 20px;
  padding: 10px;
  border: none;
  width: 95%;
  font-size: 9px;
}
input::placeholder {
  color: lightgray;
}
.input::after {
  content: "🔻";
  position: absolute;
  /* align-self: center; */
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: bold;
  border-radius: 50%;
  padding: 1px;
  background-color: rgb(0, 0, 0);
}
.left-shape {
  position: absolute;
  top: 0;
  left: -90px;
  background: linear-gradient(to top, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  width: 40%;
  height: 90%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.right-shape {
  position: absolute;
  bottom: 0;
  right: -200px;
  background-color: hsla(276, 100%, 81%, 0.244);
  width: 40%;
  height: 90%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: -1;
}
